.main-content {
    text-align: center;

    h1 {
        font-size: min(13vw, 5em);
        text-shadow: 3px 3px 2px black;
        color: #e25414;
        font-weight: bolder;
        line-height: 1em;
    }
}
